{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-regular fa-magnifying-glass-dollar fa-2x mb-3 i-color" ></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-palette fa-2x mb-3 i-color" ></i>
            <h3>WEB DESIGN</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-code fa-2x mb-3 i-color" ></i>
            <h3>WEB DEVELOPMENT</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>
    </div>

     <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab-regular fa-android fa-2x mb-3 i-color" ></i>
            <h3>ANDROID</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-apple fa-2x mb-3 i-color" ></i>
            <h3>IOS</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-ad fa-2x mb-3 i-color" ></i>
            <h3>ADVIRTISING</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>
    </div>

     <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-regular fa-pencil-alt fa-2x mb-3 i-color" ></i>
            <h3>LOGO DESIGN</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-database fa-2x mb-3 i-color" ></i>
            <h3>HOSTING</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-headset fa-2x mb-3 i-color" ></i>
            <h3>SUPPORT</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                tempora, neque</p>

        </div>
    </div>

</div>

{% endblock content %}
