{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
          <img src="{% static 'core/images/images.jpg' %}" alt="profilepic" class="img-tumbnail" width="200px"
         height="200px">
    </div>

    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font"> Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px">I am <b Class="text-warning">Priyanka Chopra</b> having 5 years of full-stack
                web development experience for gloabl businesses, i offer the technical expertise you
                are seeking for your web developer position.</p>
            <p>Science earing my bachelor's degree in internet and web development from xyz university.
                I have served as a web development firm. In this position,I have led web development projects
                 for cients in diverse induxtries including technology, manufacturing, pharmaceutical, hospitality,
                retail and  finacial services</p>
            <p>Lorem. isim dolor sit amt consectetur adipisicing elit. Evenient sapiente reiciendis numquam optio?
                Enim eligendlie vel modi allis enum ducimus nam temporibus

            </p>
        </div>
    </div>
    <div class="text-center">
           <a href="{% url 'contactssssss' %}" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
    <a href="{% url 'contactssssss' %}" class="btn btn-outline-info my-3 ">contact</a>
    </div>

</div>
{% endblock content %}